ConstantFraction 5 10 15 20 25 30 35 40 50 60 70 80
ConstantThreshold -30
z_DUT 422, 532, 886, 962, 1072 
# LGAD1, SNSPD, LGAD5, Sipm8mm,SiPM5mm,
#used to be -22 and -12
# CH (#) | POLARITY (+/-) | Baseline start time | Baseline stop time | AMPLIFICATION (dB) | ATTENUATION (dB) | ALGORITHM (None, Re, G) | WEIERSTRASS FILTER_WIDTH (0 for no filter)
0 + 0.05 0.15 0. 0. LP2  0. 
1 + 0.05 0.15 0. 0. LP2  0.
2 +  0.05 0.15 0. 0. LP2  0.
3 +  0.05 0.15 0. 0. LP2  0.
4 +  0.05 0.15 0. 0. LP2  0.
5 +  0.05 0.15 0. 0. LP2  0.
6 +  0.05 0.15 0. 0. LP2  0.
7 +  0.05 0.15 0. 0. LP2  0.
